.calculator {
    width: 300px; 
    margin: auto; 
    margin-top: 20vh; 
    padding: 20px;
    background-color: rgba(250, 171, 171, 0.5); 
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px); 
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background-color: #ddd;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}
